extends layout

block content
    script(src='/javascripts/angular-controllers/change_password_controller.js')
    .main(ng-app="change-password", ng-controller="myController", ng-cloak)
        h1.page-header.text-center #{title}
        .col-xs-12.col-sm-12.col-md-12
            .alert.alert-danger.text-center(ng-if="errorMessage") {{errorMessage}}
            .alert.alert-success.text-center(ng-if="successMessage") {{successMessage}}
            form.form-signin(name="passwordChange")
                input.form-control(type='password', placeholder='Current Password', required, autofocus='', ng-model="user.currentPassword")
                input.form-control(type='password', placeholder='New Password', required, ng-model="user.newPassword")
                input.form-control(type='password', placeholder='Repeat New Password', required, ng-model="user.repeatNewPassword")
                button.btn.btn-lg.btn-primary.btn-block(ng-click="passwordChange.$valid && changePassword()") Change Password